div#valine-comments

script(src='//unpkg.com/valine/dist/Valine.min.js')
script.
  window.valine = new Valine({
    el: '#valine-comments',
    path: window.location.pathname,
    placeholder: '#{theme.comment.valine.placeholder}',
    appId: '#{theme.comment.valine.app_id}',
    appKey: '#{theme.comment.valine.app_key}',
  })
