.menu-nav
  - for (const name in theme.menu)
    - const item = theme.menu[name];
    .menu-nav-item
      .menu-nav-title
        a(href= item_url(item))
          span= name
      .menu-nav-content
        | !{ item_widget(item) }
